.scheme-page {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scheme {
    margin-bottom: 50px;
}

.circle-container {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.business {
    width: 800px;
    height: 600px;
    border: 5px solid blue;
}
.team {
    width: 600px;
    height: 400px;
    border: 5px solid orange;
}
.engineering {
    width: 400px;
    height: 200px;
    border: 5px solid green;
}
