@import '~@alfalab/core-components/vars/index.css';

.scheme-element {
    position: absolute;
    z-index: 1;
}
.scheme-element__button {
    background: white;
}
.scheme-element__button_disabled {
    color: var(--button-ghost-disabled-color);
}
.top {
    top: -10px;
    left: calc(50% - 50px);
}
.right {
    top: calc(50% - 20px);
    left: calc(100% - 50px);
}
.left {
    top: calc(50% - 10px);
    left: -70px;
}
.bottom {
    top: calc(100% - 10px);
    left: calc(50% - 50px);
}
.top-left {
    top: 5%;
    left: 0;
}
.top-right {
    top: 5%;
    right: 0;
}
.bottom-right {
    top: 80%;
    right: -5px;
}
.bottom-left {
    top: 80%;
    left: 5px;
}
